MANAGE_PY_PATH=manage.py
ENV="dev"
SECRET_KEY="secret_key"
ALLOWED_HOSTS="127.0.0.1,localhost"
ENABLE_JAZZMIN=False
SYSTEM_USER_ID=1

# DB
POSTGRES_DB="aqua_setu"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"
POSTGRES_HOST="localhost"
POSTGRES_PORT=5432

# JWT
JWT_ACCESS_TOKEN_LIFETIME_MINUTES=10
JWT_REFRESH_TOKEN_LIFETIME_DAYS=14
